.lista{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
}

.lista2{
    width: 700px;
    height: 60px;
}

.img2{
    display: flex;
    justify-content: right;
}

.a{
    color: whitesmoke;
    font-size: 22px;
}
.cor{
    background: var(--header);
    height: 60px;
    display: flex;
    justify-content: center;
}

.lista2{
    display: none;
}

@media (max-width: 600px){
    .cor{
        display: flex;
        justify-content: left;
    }
    .lista{
        display: none;
    }
    .lista2{
        display: flex;
        justify-content: left;
        align-items: center;
        width: auto;
        height: auto;
    }
    .nav ul{
        position: absolute;
        background: cadetblue;
        margin-top: 22%;
        height: auto;
        width: auto;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }
    .icon_menu{
        cursor: pointer;
        display: block;
    }
}
