.lista{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
}


.img2{
    display: flex;
    justify-content: right;
}

.a{
    color: whitesmoke;
    font-size: 22px;
}
.cor{
    background: var(--header);
    height: 60px;
    display: flex;
    justify-content: center;
}


.butao{
    display: none;
}

@media (max-width: 600px){


}