.lista{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
}


.img2{
    display: flex;
    justify-content: right;
}

.a{
    color: whitesmoke;
    font-size: 22px;
}
.cor{
    background: var(--header);
    height: 60px;
    display: flex;
    justify-content: center;
}


.butao{
    display: none;
}

@media (max-width: 600px){
    .lista{
        flex-wrap: wrap;
        flex-direction: column;
        display: block;
        width: 100px;
    }
    .butao{
        display: block;
        background: none;
        border: none;
        width: 70px;
        height: 70px;
    }
    .nav{
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        flex-direction: column;
        height: 100px;
        width: 100px;
        align-items: center;
        margin-left: 5px;
    }

    .img{
        display: none;
    }

    .cor{
        height: auto;
        flex-wrap: wrap;
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
    }
    
}
