ul{
    list-style-type: none;
}

* {
    margin: 0;
    padding: 0;
}

header{
    height: 100px;
    background-color: blue;
}

.menu{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.item-menu{
    position: relative;
}

.submenu{
    position: absolute;
    left: 10px;
    width: max-content;
    max-height: 0;
    background-color: blueviolet;
    overflow: hidden;
    border-radius: 5px;
    transition: 1s;
}


.link-menu{
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.link-submenu{
    font-size: 16px;
    margin: 10px;
}

.item-menu:hover .submenu{
    max-height: 100vh;
}

.link-menu:hover{
    color: violet;
}

.div1, .div2, .div3{
    width: 500px;
    height: 100px;
}

.div1{
    background-color: red;
}

.div2{
    background-color: blue;
}

.div3{
    background-color: yellow;
}

@media (max-width: 600px){
    .div1, .div3 {
        max-width: 200px;
    }
    .div2{
        display: none;
    }
}

@media (min-width: 601px){
    .div1{
        visibility: hidden;
    }
}